In [1]:
#import necessary library

import pandas as pd
import numpy as np
import random as rnd     

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, roc_curve, roc_auc_score

from sklearn.preprocessing import StandardScaler
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer,KNNImputer
from sklearn.pipeline import FeatureUnion,make_pipeline,Pipeline
from sklearn.compose import ColumnTransformer
import warnings
warnings.filterwarnings('ignore')

Zomato Data Analysis is one of the most useful analysis for foodies who want to taste the best
cuisines of every part of the world which lies in their budget. This analysis is also for those who
want to find the value for money restaurants in various parts of the country for the cuisines.
Additionally, this analysis caters the needs of people who are striving to get the best cuisine of
the country and which locality of that country serves that cuisines with maximum number of
restaurants.

In [2]:
url = 'https://raw.githubusercontent.com/dsrscientist/dataset4/main/zomato.csv'
data = pd.read_csv(url, encoding = 'latin1')  #reading the dataset for zomato csv
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [7]:
data_1.shape

(15, 2)

In [4]:
data.shape

(9551, 21)

In [6]:
data_1 = pd.read_csv('https://raw.githubusercontent.com/Jyotsnajha12345/My-coding/main/Country-Code%201.csv?token=GHSAT0AAAAAACK5DPKHH5WTYY6YNYYQBGD2ZMND3FQ')
data_1.head()
#reading the dataset for country code

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

In [8]:
df = pd.merge(data,data_1,on='Country Code')
df
#merging the datsets on the basis of country code

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Yes,No,No,No,4,4.4,Green,Very Good,270,Phillipines
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,No,No,No,No,4,4.9,Dark Green,Excellent,365,Phillipines
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Yes,No,No,No,4,4.8,Dark Green,Excellent,229,Phillipines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,No,No,No,No,3,4.1,Green,Very Good,788,Turkey
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,No,No,No,No,3,4.2,Green,Very Good,1034,Turkey
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,No,No,No,No,4,3.7,Yellow,Good,661,Turkey
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,No,No,No,No,4,4.0,Green,Very Good,901,Turkey
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,No,No,No,No,2,4.0,Green,Very Good,591,Turkey

In [9]:
df.shape

(9551, 22)

In [10]:
df.drop_duplicates(inplace = True)

In [11]:
df.isna().sum()  #there are no nulls found

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
Country                 0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
 21  Country               9551 non-null   object
dtypes: float64(3), int64(5), object(14)
memory usage: 1.6+ MB

In [20]:
categorical_columns = df.select_dtypes(include=['object']).columns
categorical_columns

Index(['Cuisines', 'Has Table booking', 'Has Online delivery',
       'Is delivering now', 'Switch to order menu', 'Country'],
      dtype='object')

In [19]:
df.drop('Restaurant Name',axis=1,inplace=True) #Since it's a unique identifier for each restaurant, it may not contribute
df.drop('Restaurant ID',axis=1,inplace=True) #drop unnecessary feature as it also contains unique id
df.drop('Currency',axis=1,inplace=True) #this may not be relevant
df.drop('Address',axis=1,inplace=True) #drop unnecessary feature
df.drop('Locality Verbose',axis=1,inplace=True) #we are not focussing on the geographical features so we can drop it
df.drop('Longitude',axis=1,inplace=True) #drop unnecessary feature
df.drop('Latitude',axis=1,inplace=True) #drop unnecessary feature
df.drop('Rating color',axis=1,inplace=True) #drop unnecessary feature
df.drop('Rating text',axis=1,inplace=True) #drop unnecessary feature
df.drop('Locality',axis=1,inplace=True) #drop unnecessary feature
df.drop('City',axis=1,inplace=True) #drop unnecessary feature
df.drop('Aggregate rating',axis=1,inplace=True) #drop unnecessary feature
df.drop('Country Code',axis=1,inplace=True) #drop unnecessary feature

In [18]:
df.Country.unique()

array(['Phillipines', 'Brazil', 'United States', 'Australia', 'Canada',
       'Singapore', 'UAE', 'India', 'Indonesia', 'New Zealand',
       'United Kingdom', 'Qatar', 'South Africa', 'Sri Lanka', 'Turkey'],
      dtype=object)

In [21]:
df.shape

(9551, 9)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Cuisines              9542 non-null   object
 1   Average Cost for two  9551 non-null   int64
 2   Has Table booking     9551 non-null   object
 3   Has Online delivery   9551 non-null   object
 4   Is delivering now     9551 non-null   object
 5   Switch to order menu  9551 non-null   object
 6   Price range           9551 non-null   int64
 7   Votes                 9551 non-null   int64
 8   Country               9551 non-null   object
dtypes: int64(3), object(6)
memory usage: 671.7+ KB

In [23]:
#generating dummy values on the given dataset
df= pd.get_dummies(df).astype(int)
df.head()

,Average Cost for two,Price range,Votes,Cuisines_Afghani,"Cuisines_Afghani, Mughlai, Chinese","Cuisines_Afghani, North Indian","Cuisines_Afghani, North Indian, Pakistani, Arabian",Cuisines_African,"Cuisines_African, Portuguese",Cuisines_American,...,Country_New Zealand,Country_Phillipines,Country_Qatar,Country_Singapore,Country_South Africa,Country_Sri Lanka,Country_Turkey,Country_UAE,Country_United Kingdom,Country_United States
0,1100,3,314,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1200,3,591,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,4000,4,270,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1500,4,365,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1500,4,229,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [24]:
df.shape

(9551, 1850)

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [26]:
#split the data into features and target variable
x = df.drop(['Average Cost for two', 'Price range'], axis=1)
y_avg_cost = df['Average Cost for two']   #for predicting average cost for two
y_price = df['Price range'] #for predicting price range

In [27]:
#splitting the data into training and testing so that we could make predictions further

X_train_cost, X_test_cost, y_train_cost, y_test_cost = train_test_split(x,y_avg_cost, test_size = 0.30, random_state = 300)
X_train_price, X_test_price, y_train_price, y_test_price = train_test_split(x,y_price, test_size = 0.30, random_state = 300)

first we will predict for price

In [28]:
regression_price = LinearRegression()
regression_price.fit(X_train_price, y_train_price)

LinearRegression()

In [29]:
regression_price.score(X_train_price,y_train_price) #here is the score of train data

0.7425596659033464

In [30]:
regression_price.score(X_test_price,y_test_price) #here is the score of test data

-630096559820736.4

In [34]:
pred_LR_price = regression_price.predict(X_test_price)
pred_train_price=regression_price.predict(X_train_price)
print("r2_score:" , r2_score(y_test_price,pred_LR_price))
print("r2_score on training data:" ,r2_score(y_train_price,pred_train_price)*100 )
print("Mean absolute error:" ,mean_absolute_error(y_test_price, pred_LR_price))
print("Mean squared erroe:" ,mean_squared_error(y_test_price, pred_LR_price))
print("Root mean squared error:" ,np.sqrt(mean_squared_error(y_test_price, pred_LR_price)))

r2_score: -630096559820736.4
r2_score on training data: 74.25596659033464
Mean absolute error: 955009.5355033991
Mean squared erroe: 497592772364457.25
Root mean squared error: 22306787.585048128

In [35]:
RFR_price = RandomForestRegressor()
RFR_price.fit(X_train_price, y_train_price)

RandomForestRegressor()

In [36]:
pred_RFR_price = RFR_price.predict(X_test_price)
pred_train_price=RFR_price.predict(X_train_price)
print("Mean absolute error:" ,mean_absolute_error(y_test_price, pred_RFR_price))
print("Mean squared error:" ,mean_squared_error(y_test_price, pred_RFR_price))

Mean absolute error: 0.4113773646979131
Mean squared error: 0.36113396779392776

In [37]:
RFR_price.score(X_train_price,y_train_price) #here is the score of train data

0.9032828032456952

In [38]:
RFR_price.score(X_test_price,y_test_price) #here is the score of test data

0.5426998071935408

In [39]:
import joblib
joblib.dump(RFR_price, 'zomato.pkl')

['zomato.pkl']

In [40]:
Model = joblib.load('zomato.pkl')

prediction_price = RFR_price.predict(X_test_price)  
prediction_price

array([1.46549603, 1.01      , 3.07      , ..., 1.        , 2.11      ,
       1.        ])

In [41]:
a = np.array(y_test_price)
data = pd.DataFrame()
data['Predicted']=prediction_price
data['Actual']=a
data        #here is the prediction for price range

      Predicted  Actual
0      1.465496       2
1      1.010000       1
2      3.070000       3
3      2.690000       2
4      1.000000       1
...         ...     ...
2861   1.510000       1
2862   1.000000       1
2863   1.000000       1
2864   2.110000       2
2865   1.000000       1

[2866 rows x 2 columns]

Now we will predict for average cost for two

In [42]:
regression_cost = LinearRegression()
regression_cost.fit(X_train_cost, y_train_cost)

LinearRegression()

In [43]:
regression_cost.score(X_train_cost,y_train_cost) #here is the score of train data

0.8910221837507064

In [44]:
regression_cost.score(X_test_cost,y_test_cost) #here is the score of test data

-154498655255893.62

In [45]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor as KNN
from sklearn.linear_model import Lasso,Ridge
from sklearn.model_selection import cross_val_score

In [46]:
pred_LR_cost = regression_cost.predict(X_test_cost)
pred_train_cost=regression_cost.predict(X_train_cost)
print("r2_score:" , r2_score(y_test_cost,pred_LR_cost))
print("r2_score on training data:" ,r2_score(y_train_cost,pred_train_cost)*100 )
print("Mean absolute error:" ,mean_absolute_error(y_test_cost, pred_LR_cost))
print("Mean squared erroe:" ,mean_squared_error(y_test_cost, pred_LR_cost))
print("Root mean squared error:" ,np.sqrt(mean_squared_error(y_test_cost, pred_LR_cost)))

r2_score: -154498655255893.62
r2_score on training data: 89.10221837507063
Mean absolute error: 7085371022.774037
Mean squared erroe: 2.738950059325929e+22
Root mean squared error: 165497735915.8103

In [47]:
RFR_cost = RandomForestRegressor()
RFR_cost.fit(X_train_cost, y_train_cost)

RandomForestRegressor()

In [48]:
RFR_cost.score(X_train_cost,y_train_cost) #here is the score of train data

0.9076085143725074

In [49]:
RFR_cost.score(X_test_cost,y_test_cost) #here is the score of test data

0.7280495411072444

In [50]:
pred_RFR_cost = RFR_cost.predict(X_test_cost)
pred_train_cost=RFR_cost.predict(X_train_cost)
print("Mean absolute error:" ,mean_absolute_error(y_test_cost, pred_RFR_cost))
print("Mean squared error:" ,mean_squared_error(y_test_cost, pred_RFR_cost))

Mean absolute error: 456.7603861870467
Mean squared error: 48211340.369553655

In [51]:
import joblib
joblib.dump(RFR_cost, 'zomato.pkl')

['zomato.pkl']

In [52]:
Model = joblib.load('zomato.pkl')

prediction_cost = RFR_cost.predict(X_test_cost)  
prediction_cost

array([ 464.02281746,  411.375     , 1579.        , ...,  324.43412698,
        591.5       ,  203.025     ])

In [53]:
a = np.array(y_test_cost)
data = pd.DataFrame()
data['Predicted']=prediction_cost
data['Actual']=a
data       #here is the prediction for average cost for two

        Predicted  Actual
0      464.022817     700
1      411.375000     400
2     1579.000000    1800
3      727.500000     700
4      259.873587     250
...           ...     ...
2861   487.000000     200
2862   105.550000     150
2863   324.434127     300
2864   591.500000     800
2865   203.025000     100

[2866 rows x 2 columns]